<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRGIN HYPERLOOP | WELCOME</title>
    <link rel="stylesheet" href="./static/css/style2.css">
</head>
<body>
<div class="container">
   <h1 style="font-size:20px; text-align:center;"><b>Thank yoy for using Password Generator</b></h1>  
   <h2 style="text-align:center" > <h2>

   <p style="margin:0; padding-top:20px; font-size:15px; text-align:left;">
   Password Genereated
   </p>
   <p style="margin:0; padding-top:0; fony-size:23px; text-align:left">
   {{nameh}}
   </p>

   </body>
   </div>
</body>
</html>